<!DOCTYPE HTML>
<html>
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>Jasmine Spec Runner</title>

      <link rel="shortcut icon" type="image/png" href="/__jasmine__/jasmine_favicon.png">
      <link rel="stylesheet" type="text/css" href="/__jasmine__/jasmine.css">
      <script type="text/javascript" src="/source/javascripts/vendor/require.min.js" data-main="/__boot__/spec-runner"></script>
    </head>

    <body>
    </body>
</html>
